<template>
    <v-container justify-center align-center fill-height fluid>
        <v-layout>
            <v-flex>
                <v-data-table v-model="selected" :headers="headers" :items="desserts" :pagination.sync="pagination" select-all item-key="name" class="elevation-1">
                    <template slot="headers" slot-scope="props">
                        <tr>
                            <th>
                                <v-checkbox :input-value="props.all" :indeterminate="props.indeterminate" primary hide-details @click.native="toggleAll"></v-checkbox>
                            </th>
                            <th v-for="header in props.headers" :key="header.text" :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']" @click="changeSort(header.value)">
                                <v-icon small>arrow_upward</v-icon>
                                {{ header.text }}
                            </th>
                        </tr>
                    </template>
                    <template slot="items" slot-scope="props">
                        <tr :active="props.selected" @click="props.selected = !props.selected">
                            <td>
                                <v-checkbox :input-value="props.selected" primary hide-details></v-checkbox>
                            </td>
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-right">{{ props.item.calories }}</td>
                            <!-- <td class="text-xs-right">{{ props.item.fat }}</td> -->
                            <!-- <td class="text-xs-right">{{ props.item.carbs }}</td> -->
                            <!-- <td class="text-xs-right">{{ props.item.protein }}</td> -->
                            <!-- <td class="text-xs-right">{{ props.item.iron }}</td> -->
                        </tr>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>

        <v-layout>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-img class="white--text" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <span class="headline">The data you want to request</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>
                    <v-card-title>
                        <div>
                            <span class="title">Please select the checkboxes</span><br>

                            <v-container fluid>
                                <v-checkbox :label="`First Name: ${checkbox1.toString()}`" v-model="checkbox1"></v-checkbox>
                                <v-checkbox :label="`Second Name: ${checkbox2.toString()}`" v-model="checkbox2"></v-checkbox>
                                <v-checkbox :label="`Disability: ${checkbox3.toString()}`" v-model="checkbox3"></v-checkbox>
                            </v-container>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <v-btn block color="orange" @click="showAlert(); postPost() ">Request!</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>

        <v-layout v-show="show">
            <v-alert :value="true" type="success">
                <span class="title">You successfully requested data</span>

            </v-alert>

        </v-layout>
    </v-container>

</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      checkbox1: false,
      checkbox2: false,
      checkbox3: false,
      show: false,

      pagination: {
        sortBy: "name"
      },
      selected: [],
      headers: [
        {
          text: "Name",
          align: "left",
          value: "firstName"
        },
        { text: "Identifycation Number", value: "secondName" }
        // { text: "Fat (g)", value: "fat" },
        // { text: "Carbs (g)", value: "carbs" },
        // { text: "Protein (g)", value: "protein" },
        // { text: "Iron (%)", value: "iron" }
      ],
      desserts: [
        {
          value: false,
          name: "Lorenz Baum",
          calories: 7,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: "1%"
        },
        {
          value: false,
          name: "Julian Müller",
          calories: 8,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: "1%"
        },
        {
          value: false,
          name: "Bernd Wurst",
          calories: 9,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%"
        },
        {
          value: false,
          name: "Thomas Klir",
          calories: 10,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: "7%"
        }
      ]
    };
  },
  methods: {
    toggleAll() {
      if (this.selected.length) this.selected = [];
      else this.selected = this.user.slice();
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    showAlert() {
      if (this.show == false) {
        this.show = true;
      } else {
        this.show = false;
      }
    },

    async postPost() {
      axios
        .post(`http://148.100.86.25:3000/api/RequestDataTransaction`, {
          owner: "009",
          viewer: "007",
          requestedFields: ["firstName", "lastName", "disability"]
        })
        .catch(e => {
          e;
        });
    }
  }
};
</script>