
<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"></v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">You have one new request:</h3>
                        <h3 class="headline mb-0">Lorenz Baum wants to know the following:</h3>
                        <ul>
                            <li>
                                <h3 class="title">First Name</h3>
                            </li>
                            <li>
                                <h3 class="title">Second Name</h3>
                            </li>
                            <li>
                                <h3 class="title">Disability</h3>
                            </li>

                        </ul>

                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-btn block color="orange" @click="showAlert(); postPost() ">Share</v-btn>
                    <v-btn block color="red">Decline</v-btn>

                </v-card-actions>
            </v-card>
        </v-flex>

        <v-layout v-show="show">
            <v-alert :value="true" type="success">
                <span class="title">You successfully shared your data</span>
            </v-alert>

        </v-layout>
    </v-layout>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      card_text:
        "Lorem ipsum dolor sit amet, brute iriure accusata ne mea. Eos suavitate referrentur ad, te duo agam libris qualisque, utroque quaestio accommodare no qui. Et percipit laboramus usu, no invidunt verterem nominati mel. Dolorem ancillae an mei, ut putant invenire splendide mel, ea nec propriae adipisci. Ignota salutandi accusamus in sed, et per malis fuisset, qui id ludus appareat."
    };
  },
  methods: {
    showAlert() {
      if (this.show == false) {
        this.show = true;
      } else {
        this.show = false;
      }
    },
    async postPost() {
      axios
        .post(`http://148.100.86.25:3000/api/AllowRequestTransaction`, {
          request: "961",
          granted: true
        })
        .catch(e => {
          e;
        });
    }
  }
};
</script>
