<template>
  <v-container wrap>
    <v-layout row wrap xs3 column align-center justify-center>

      <v-toolbar-title>Sign Up</v-toolbar-title>

      <v-form @submit.prevent="postPost()">
        <!-- Email
                <v-text-field id="email" type="email" data-vv-name="email" name="email" data-vv-delay="300" label="Email" v-model="form.email" v-validate="{ required: true, email: true}" :error-messages="errors.collect('email')" box :disabled="submitting" /> -->

        <!-- First Name -->
        <v-text-field id="firstName" type="text" label="First Name" v-model="form.firstName" box />

        <!-- Second Name -->
        <v-text-field id="secondName" type="text" label="Second Name" v-model="form.secondName" box />

        <!-- Password -->
        <v-text-field id="password" type="password" name="password" label="Password" v-model="form.password" v-validate="'required|min:6|confirmed:password_confirmation'" box />

        <!-- Password confirmation-->
        <v-text-field id="password_confirmation" type="password" ref="password_confirmation" name="password_confirmation" data-vv-delay="300" label="Password Again" v-model="form.password_confirmation" box :disabled="submitting" />

        <v-switch label="Disability" id="disability" type="switch"></v-switch>

        <v-layout align-center justify-center column>

          <v-btn block large @click="postPost()">Register</v-btn>

        </v-layout>
      </v-form>
    </v-layout>
  </v-container>

</template>

<script>
import axios from "axios";
export default {
  name: "signUp",
  data: function() {
    return {
      submitting: false,
      providerID: "",
      userUid: "",
      dictionary: {
        attributes: {
          email: "e-mail adress"
        }
      },
      form: {
        email: "",
        password: "",
        password_confirmation: "",
        firstName: "",
        secondName: "",
        disability: ""
      }
    };
  },
  computed: {
    isFormValid() {
      return !Object.keys(this.fields).some(key => this.fields[key].invalid);
    }
  },
  watch: {},
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  methods: {
    submit() {
      this.$validator.validate().then(valid => {
        if (valid) {
          return;
        }
      });
    },

    async postPost() {
      axios
        .post(`http://148.100.86.25:3000/api/NormalParticipant`, {
          participantId: Date.now().toString().substring(10, 13),
          firstName: this.form.firstName,
          lastName: this.form.secondName,
          disability: this.form.disability,
          authData: this.form.password
        })
        .catch(e => {
          e;
        });
    }
  }
};
</script>

<style scoped>
</style>
